@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll */

html {
  scroll-behavior: smooth;
}

/* Hide Horizontal Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Loader */

.loader {
  width: 45px;
  height: 45px;
  border: 5px solid rgba(255,255,255,.25);
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Rain */

.rain {
  position: absolute;
  top: -30px;
  width: 2px;
  height: 18px;
  background: #7dd3fc;
  opacity: .8;
  animation: rain linear infinite;
}

@keyframes rain {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(700px);
  }
}

/* Snow */

.snow {
  position: absolute;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  animation: snow 5s linear infinite;
}

@keyframes snow {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(700px);
  }
}

/* Cloud */

.cloudMove {
  position: absolute;
  left: -120px;
  top: 30px;
  font-size: 70px;
  opacity: .35;
  animation: cloudMove 15s linear infinite;
}

@keyframes cloudMove {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(650px);
  }

}

/* Sun */

.sunGlow {

  position: absolute;
  top: -70px;
  right: -70px;

  width: 180px;
  height: 180px;

  border-radius: 50%;

  background: #FFD54F;

  filter: blur(80px);

  opacity: .35;

}

/* Thunder */

.lightning {

  position: absolute;
  inset: 0;

  animation: flash 3s infinite;

}

@keyframes flash {

  0%,95%,100% {
    background: transparent;
  }

  96% {
    background: rgba(255,255,255,.4);
  }

  97% {
    background: transparent;
  }

}